body{
    background-color: #f9fafd;
  
}
/* ---------------------------------------------------
    SOCIAL MEDIA ICONS STARTS HERE
----------------------------------------------------- */

.icons .fa {
    padding: 4px 0px;
    font-size: 19px;
    width: 27px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    margin-top: 9px;
    border-radius: 2px;
  }
  
  .fa:hover {
   background-color: #273c75;
    color: white;  
}
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-github {
    background: #f40083;
    color: white;
  }
  
  .fa-github {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  
  /* ---------------------  SOCIAL MEDIA ICONS ENDS HERE -------------------------------------- */


/* navbar starts here */
#header {
    background-color: #273c75;
    color: white;
}

#logo a {
    text-decoration: none;
}

#logo h1 {

    color: white;
}

#navbar {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: white;
    display: block;
    padding: 16px 10px;
}

#navbar li a:hover {
    background-color: #0c2461;
    text-decoration: none;
}


/* main-content start here */
.inner-content h4 a{

    color: #072f94;
     
}
.post-information  a{
    color: #4a69bd;
}
h3 {
    color: #273c75;
}

#post-heading-hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #3B3B98;
}


.read-more {
    display: inline-block;
    background-color:  #0c2461;
    color: white;
    padding: 5px 7px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 40px;
}

.read-more:hover{
    color: white;
    text-decoration: none;
    background-color: #273c75;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background-color: #0c2461;
    border: 1px solid #dee2e6;
}





/* sidebar starts here */
.button{
    display: inline-block;
    background-color: #0c2461;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 40px;
    border: none;
    padding: 5px 11px;
}
.button:hover{
    background-color: #273c75;
}

.sidebar-heading-hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #3B3B98;
}

#list-category{
    list-style: none;
}

#list-category li{
    margin-left: -36px;
}
#list-category li a{
    color: #273c75;
    padding: 9px 5px;
    display: block;
}

#list-category li a:hover{
   text-decoration: none;
   background-color: #273c75;
   color: white;
}

.recent-post{
    list-style: none;
}
.recent-post li{
    margin-left: -36px;
    margin-top: 4px;
}

.recent-post li a{
    color: #072f94;
    font-family: 'Open Sans', sans-serif;
    /* padding: 9px 5px; */
    /* display: block; */
}


.recent-post-hr{
    margin-left: -36px;
}


.footer{
    color: white;
}

#blog-footer-ul {
   list-style: none;
   padding: 0px;
}


#blog-footer-ul li a{
    color: white;
    font-weight: 600;
    

 }

#top-footer{
    background-color: #485460;
  
}


#bottom-footer{
    background-color: #1e272e;
}
.footer-logo{
    margin-top: 15px;
}
.footer-logo a{
    color: white;
    padding: 0px 8px;
}
.term-condition{
    margin-top: 15px;
}
.term-condition a{
    color: white;
    margin-right: 3px;
    padding: 10px 6px;
}

/* pagination  */
.page-item.active .page-link {
  z-index: 3;
  color: #485460;
  background-color: #e9ecef;
 

}


